<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebMax</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

   <h1>Bienvenido a WebMax</h1>
   <div class="logo">
    <img src="./logo.png" width="110px" height="100px" alt="">
    </div>
    <h2>¡La mejor web creada para ver como esta hecha una web con html y python!</h2>
    <h3>Esta pagina tiene un ejemplo de lo que puedes hacer
      
    </h3>
   <div class="Apps">
    <h4>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤEntra a mi tiktok</h4> 
    <p>ㅤㅤㅤ</p>
    <h5>Entra a mi youtube</h5>
    </div>
    
    <div class="canales">
    <div class="tiktok">
<a href="https://www.tiktok.com/@l3maxie">
  <p aling="left"><img src="tiktok.png" width="150px" height="150px"/></p>
</a>
     </div>
    <div class="youtube">
<a href="https://www.youtube.com/@NEON_L3Maxie">
    <p aling="right"><img src="youtube.png" width="150px" height="150px"/></p>
</a>
       </div>
      </div>
      <p>Este es un ejemplo de lo que puedes hacer en html!</p>
      <p>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
      <p>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
      <p>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
    <h6>Este es el final de la pagina, no tiene mucho pero en un futuro se actualizara</h6>
    <h7>¡Gracias por entrar a ver la pagina!</h7>
    
</body>
</html>